body {
    background-color: rgb(255, 255, 255);
}

header {
    height: 55px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

footer {
    height: 85px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    @apply text-xs;
    @apply text-blue-600/50;
}

main {
    min-height: 200px;
    @apply p-2;
}

.btn {
    @apply font-bold px-2 py-1 rounded ;
}

.btn-blue {
    @apply bg-blue-500 text-white;
}

.btn-blue:hover {
    @apply bg-blue-700;
}
.btn-red {
    @apply bg-red-500 text-white;
}

.btn-red:hover {
    @apply bg-red-700;
}

.input {
    /* @apply px-2 py-1 rounded; */
    @apply rounded 
}
.input-green {
    @apply border-solid border-2 border-green-200;
}

h1 {
    @apply text-stone-700 text-xl font-bold;
}
h2 {
    @apply text-stone-700 text-lg font-bold;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}
.grid-container-termine {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

li.red {
    @apply text-red-500;
}
li.green {
    @apply text-green-500;
}
li.blue {
    @apply text-blue-500;
}
li.yellow {
    @apply text-yellow-600;
}