body {
    background-color: rgb(255, 255, 255);
}

header {
    height: 55px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

footer {
    height: 85px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    @apply text-xs;
    @apply text-blue-600/50;
}

main {
    min-height: 200px;
    @apply p-2;
}

.btn {
    @apply font-bold px-2 py-1 rounded ;
}

.btn-blue {
    @apply bg-blue-500 text-white;
}

.btn-blue:hover {
    @apply bg-blue-700;
}

.input {
    /* @apply px-2 py-1 rounded; */
    @apply rounded 
}
.input-green {
    @apply border-solid border-2 border-green-200;
}

h1 {
    @apply text-stone-700 text-xl font-bold;
}
h2 {
    @apply text-stone-700 text-lg font-bold;
}